
body {
	background-color: #DFB78C;
	width: 99vw;
	margin-left: auto;
	margin-right: auto;
}
/*  header */


.navigation {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	
	align-items: center;
	margin-left: -6px; /* Cette correction est sûrement incorrecte mais honestly IDC */
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	color: transparent;
	width: 35vw;

}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -0%);
	font-family: 'Allura', cursive;
	text-align: center;
	font-size: 6vh;
}

.navigation i{
	font-size: 45px;
}

.navigation_left {
	display: flex;
	max-width: 30vw;
	flex-direction: column;

}




.navigation_right {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 95vw;
	border-top: 3px black solid;

}

.navigation_right a{
	text-decoration: none;
	color: black;
}

.navigation_button{
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-transform: uppercase;
	font-family: Georgia;
	width: 25vw;

	
}
.navigation_button:hover {
	color: #310000;
	transition: 0.3s;
}

.navigation_button:hover a {
	color: #310000;
	font-style: italic;
	transition: 0.3s;
}


.navigation_button p{
	font-size:36px;
	line-height: 45px;
	text-align: center;
}









/* footer */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #BF884F;
	flex-direction: column;
	background-image: url("https://cdn.discordapp.com/attachments/486520343016767513/817093610444685332/SPOILER_veggielogo_sf_lignes.png");
	background-position: center top;
	background-size: 8%;
	background-repeat: no-repeat;
}


.footer_column{
	width: 75vw;
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	font-size: 2vh;
	padding-bottom: 4vh;
	border-bottom: #310000 2px solid;
	text-align: center;
}

.footer_item {
	line-height: 20px;
	display: flex;
	flex-direction: column;
}
.footer_item h3{
	font-size:3vh;
	font-family: 'IBM Plex Serif', serif;	
	color: #CBC7C5;
	text-shadow: 1px 3px #1a1d26;
	text-transform: uppercase;

}
.footer_item a{
	text-decoration: none;
	color: white;
	font-family: Georgia;
}

.footer_item a:hover{
	color: #1a1d26;
}

footer p{
	color: white;
	text-align: center;
	font-size: 1.6vh;
	padding-top: 1vh;
}












/* responsive*/ 
@media screen and (max-width: 1080px){
	
	.centered {
		font-size: 2vh;
	}
	.navigation_button {
		width: 50vw;
		border-bottom: 1px black solid;
	}


	.navigation_right{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	



	.footer_container {
		display: flex;
		justify-content: center;
	}
	.footer_column{
		flex-direction: column;
		
	}

	.footer_item {
		line-height: 36px;
	}
	.footer_item p{

	}
	footer p {
		font-size: 1vh;
	}
	footer {
		background-size: 0;
	}
}





}
